@using Microsoft.AspNetCore.Authorization

@page "/dashboard"
@attribute [Authorize]

<h3>Dashboard</h3>

@code {
    [CascadingParameter]
    private MainLayout MainLayout { get; set; } = default!;

    protected override void OnInitialized()
    {
        MainLayout.SetPath("/dashboard");
    }
}
