@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="pb-5 pt-2">
    <MudAppBar Dense>
        <MudIcon Icon="@Icons.Material.Filled.LocalHospital" Class="me-3" />
        <MudText>UDSK</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Dashboard" Href="/dashboard" Class="white-text" />
        <MudIconButton Icon="@Icons.Material.Filled.ExitToApp" Href="https://udsk.pl/" Class="white-text" />
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
    @* TODO Nie app bar, tylko jakiś kontener na dole *@
    @* <MudAppBar Bottom Color="Color.Transparent" ToolBarClass="justify-center" Dense>
        <MudText>
            Made with
            <MudIcon Icon="@Icons.Material.Sharp.FavoriteBorder" Color="Color.Primary" Size="Size.Small" Class="pt-1"/>
            by
            <MudLink Href="https://github.com/JustDunia" Target="_blank">JustDunia</MudLink>
        </MudText>
    </MudAppBar> *@
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>